ul {
    width:40%;
    
}
li{
    list-style: none;
    padding:10 5px;
    margin:2px;
    background-color: tomato;
    font-size: 14px;
    text-align: center;
    color:goldenrod;
}

.expensive{
    color:red;
}